<!--The content below is only a placeholder and can be replaced.-->

<h2 class="text-primary">Gestion des {{ title }} </h2>
<p>
  <li class="glyphicon glyphicon-calendar"></li> Last update : {{ lastUpdate | async | date: 'dd MMMM y à HH:mm:ss' }}
</p>
<div class="row mt-5">
  <div class="col-xs-12">
    <h2 class="text-success">Liste des appareils</h2>
    <ul class="list-group">
      <app-appareil *ngFor="let appareil of appareils; let i = index" 
                    [appareil]="appareil" 
                    [id]="i"></app-appareil>
    </ul>
    <br/>
    <button *ngIf="!getGlobalStatus()" class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
      <span class="glyphicon glyphicon-log-in"></span> Tout allumer
    </button>
    <button *ngIf="getGlobalStatus()" class="btn btn-danger" (click)="onEteindre()">
      <span class="glyphicon glyphicon-log-out"></span> Tout Eteindre
    </button>
    <button *ngIf="appareils && appareils.length > 0" class="btn btn-warning ml-2" (click)="onSave()">
      <span class="glyphicon glyphicon-log-out"></span> Sauvegarder
    </button>
    <p *ngIf="message !== null" class="bg-warning">{{ message }}</p>
  </div>
</div>
